.navbar {
    /* background-color: #4551f6d7; */
    background-image: url(images/herosectionbg.jpg);
    background-size: cover;
    color: #eaf7ff;
    height: 10vh;
}

.navbar-brand {
    color: rgb(255, 254, 254);
    font-family: cursive;
    font-weight: bolder;
    font-size: larger;
}

.navbar-brand:hover {
    color: rgb(255, 254, 254);
    font-family: cursive;
    font-weight: bolder;
    font-size: larger;
}

.nav-link-loginregister {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
    padding: 10px;
}


.nav-link-loginregister:hover {
    color: rgb(228, 228, 228);
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
    background-color: #8c8b8b9e;
    border: solid;
    border-color: #fbff00;
    border-radius: 1.5rem;
    padding: 10px;
    box-shadow: 5px 5px 20px 10px rgba(0, 255, 13, 0.95);
    transition: transform 0.10s ease, opacity 0.20s ease, box-shadow 0.30s ease;

}

.navlogo {
    width: 40px;
    height: 40px;
}

.navname {
    margin-right: 10px;
    color: white;
    font-size: larger;
    font-family: cursive;
    font-weight: bolder;
    margin-left: -1%;
    padding: 2px;
}

.navlogobulb {
    width: 30px;
    height: 40px;
    margin-left: -0.8%;
    margin-right: 10px;
    margin-top: -1%;
    color: white;
    font-size: xx-large;
}

.sectiononeimages {
    transition: transform 0.50s ease, opacity 0.50s ease, box-shadow 1.00s ease;
    cursor: pointer;
}

.sectiononeimages:hover {
    transform: scale(1.05);
    opacity: 0.6;
    box-shadow: 5px 10px 20px 20px rgba(255, 255, 0, 0.95);

}

a {
    text-decoration: none;
    color: black;
}

.Mentors {
    margin-top: 9%;
}

.certificate {
    margin-top: 2%;
}

.stream {
    height: 40vh;
    margin-top: 1%;
}

.one {
    border: solid;
    border-radius: 2rem;
    padding: 30px;
}

.three {
    border: solid;
    border-radius: 2rem;
    padding: 20px;
}

.middlesection {
    margin-top: -1%;
    height: 30vh;
    width: 100%;
    background-size: cover;
}

.hero-section {
    background-image: url(images/herosectionbg.jpg);
    background-size: cover;
    text-align: center;
    padding: 50px 20px;
    height: 97vh;
}

.welcome {
    color: white;
    background-color: #ff000067;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    font-family: cursive;
    font-style: italic;
    box-shadow: 5px 5px 20px 10px rgba(245, 226, 163, 0.95);
    border-radius: 8rem;
}

.yourjourney {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    box-shadow: 5px 5px 20px 5px rgba(163, 192, 245, 0.95);
    width: 30%;
    margin-left: 35%;
    border-radius: 2rem;
}

.getstarted {
    background-color: #05bd3c;
    border: solid;
    color: rgb(240, 236, 236);
    border-color: gold;
    font-family: cursive;
    font-size: x-large;
    font-weight: bolder;
    margin-top: -1%;
    box-shadow: 5px 5px 20px 10px rgba(163, 245, 181, 0.95);
}

.getstarted:hover {
    background-color: rgb(240, 236, 236);
    border: solid;
    color: #05bd3c;
    border-color: rgb(255, 138, 5);
    font-family: cursive;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 2rem;
    box-shadow: 5px 10px 20px 40px rgba(255, 255, 255, 0.466);
    transition: transform 0.10s ease, opacity 0.20s ease, box-shadow 0.30s ease;
}

.getstartedarrow {
    color: blue;
    font-size: x-large;
}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer {
    background-image: url(images/footer.jpg);
    color: white;
    text-align: center;
    padding: 15px 0;
    height: 26vh;
}

.copyright {
    margin-top: 4%;
}

.footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.stream-images img {
    height: 150px;
    object-fit: cover;
}

.photo {
    background-image: url(images/middlesection.png);
    background-size: cover;
    margin-top: -3.8%;
    width: 99.5vw;
    margin-left: -5%;
    height: 30vh;
}

hr {
    border-top: 10px solid #004cff;
    border-radius: 40px;
}

.firstsection {
    margin-top: -10%;
}

.sectionnameone {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin-top: 2%;
    box-shadow: 5px 5px 45px 20px rgba(255, 255, 255, 0.591);
    width: 40%;
    margin-left: 30%;
    border-radius: 1rem;
}

.sectionnametwo {
    color: #c10779;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.whychoose {
    width: 100px;
    height: 90px;
    margin-top: -2%;
    font-size: xx-large;
}

.explorestream {
    width: 90px;
    height: 80px;
    font-size: xx-large;
}

.col-md-2 {
    margin-left: 6%;

}


a {
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: color 0.3s ease;
}

a:active {
    animation: clickAnimation 0.2s ease;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.20);
        opacity: 0.7;
    }

    100% {
        transform: scale(1.20);
        opacity: 1;
    }
}

.streamhead {
    color: #06b700;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subparaofcourse {
    font-size: 12px;
    font-family: cursive;
    color: #004cff;
    font-weight: lighter;
    margin-top: -8%;
}

.stream-images {
    border: solid;
    border-color: white;
    border-top: 1px;
    border-radius: 2.0rem;
    transition: transform 0.50s ease, opacity 0.50s ease, box-shadow 0.60s ease;
    cursor: pointer;
}

.stream-images:hover {
    transform: scale(1.10);
    border-color: gold;
    opacity: 1.5;
    box-shadow: 5px 10px 20px 20px rgba(0, 255, 13, 0.537);
}

.firstsectionheading {
    color: rgb(209, 177, 0);
}

.firstsectionsubheading {
    color: #004cff;
    font-family: cursive;
}

.it {
    width: 30vw;
}

html {
    scroll-behavior: smooth;
}


@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-on-scroll {
    animation: fadeInFromBottom 1s ease-out forwards;
    opacity: 0;
}

.sectionnametwo,
.sectionnameone,
.card,
.getstarted,
.secondtextpart {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


@keyframes boxShadowBlink {
    0% {
        opacity: 0.9;
    }

    50% {

        opacity: 0.6;
    }

    100% {

        opacity: 1;
    }
}

.yourjourney {
    animation: boxShadowBlink 1.40s infinite;
}